h1 {
  color: blue;
  font-size: 72px;
}

#game-board {
  width: 600px;
  height: 400px;
  border: 1px solid black;

  .me {
    fill: blue;
  }
  .opponent {
    fill: red;
  }
  .my-enemies {
    fill: rgba(255,0,0,.5);
  }
  .opponent-enemies {
    fill: rgba(0,0,255,.5);
  }
}
